<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../static/custom.css">
<body style="background: url(../static/tee.jpg);" class="page-holder bg-image">
    {% if session.user_id %}
    <nav class="navbar navbar-expand navigationbar">  
        <div class="navbar-nav mr-auto">
                <a style="color: antiquewhite; font-size: 20px;" class="nav-item nav-link px-3" href="/browse">Browse reviews</a>
                <a style="color: antiquewhite; font-size: 20px;" class="nav-item nav-link px-3" href="/users">Browse users</a>
                <a style="color: antiquewhite; font-size: 20px;" class="nav-item nav-link px-3" href="/newreview">Post a new review</a>
        </div>
        <div class="navbar-nav">
            <p style="color: antiquewhite; font-size: 18px; margin-right: -0.6rem; padding-top: 8px;" class="nav-item" >Logged in as: </p>
            <a style="color: antiquewhite; font-size: 18px;" class="nav-item nav-link px-3" href='/users/{{session.user_id}}'>{{session.user_name}} </a>
            <a class="nav-item px-2" style="color: antiquewhite;" href="/logout"><span class="fa fa-sign-out" style="font-size: 20px;color:antiquewhite; padding-top: 11px;">Logout</span></a>
        </div>
    </nav>
    {% endif %}
    <div style="color: antiquewhite; padding-top: 10%;" class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-10 col-lg-7">
            {% if session.user_id %}
                <div class="form-style" style="overflow-wrap: break-word;">
                    
                    <h6 style="text-align: center;"> 15 most highest rated reviews by our users,<br>click to see the review or search the reviews.</h6>
                    <!--Search functionality-->
                    <span id="showsearch" style="display: none;">
                    <form action="/browse" method="POST">
                        <p>Choose review teatype:</p><br>
                        <input type="checkbox" name="teatype" id="teatype" value="Black Tea">Black Tea
                            <input type="checkbox" name="teatype" value="Green Tea">Green Tea
                            <input type="checkbox" name="teatype" value="Oolong Tea">Oolong Tea
                            <input type="checkbox" name="teatype" value="Other Tea">Other/Herbal
                            <input type="checkbox" name="teatype" value="Pu-erh Tea">Pu-erh Tea
                            <input type="checkbox" name="teatype" value="White Tea">White Tea
                            <br>
                        </br>
                        <label>Choose review minimum score:</label>
                        <select required name="score" id="score">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <p >Tea name:<br>
                            <input class="form-control input-sm" type="text" name="namesearch"></p>
                    </br>
                        <button style="margin-bottom: 20px;" class="nicer-button" type="submit">Search</button>
                    </form>
                </span>

                <button style="margin-bottom: 20px;" class="nicer-button" onclick="showsearch()" id="showsearchbutton">Show search</button>
                <!--Search functionality ends-->

                    {% for review in reviews %}
                    
                    <h5><a style="color: antiquewhite" href='/reviews/{{review[0]}}'>{{ review[1] }}  Rated: {{ review[2] }} / 10</a></h5>
                
                    {% endfor %}
                    <div class="col-md d-flex justify-content-end"><i>Total number of reviews in our database: {{ amount[0][0] }}</i></div>
                </div>
          
            {% else %}
            <div class="form-style">
                <h2>Login to browse the reviews.</h2>
                <form action="/">
                    <button class="nicer-button" type="submit">To login</button>
                </form>
            </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>



<script>
    function showsearch() {
      
      var moreText = document.getElementById("showsearch");
      var btnText = document.getElementById("showsearchbutton");
    
      if (moreText.style.display === "none") {
        moreText.style.display = "inline";
        btnText.innerHTML = "Hide search"; 
        
      } else {
        moreText.style.display = "none";
        btnText.innerHTML = "Show search"; 
        
      }
    }
    </script>
</body>