<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/custom.css">
<body style="background: url(../static/tee.jpg)" class="page-holder bg-image">

    <nav class="navbar navbar-expand navigationbar">
        
        <div class="navbar-nav">
            
                <a style="color: antiquewhite;" class="nav-item nav-link" href="/browse">Browse reviews</a>
                <a style="color: antiquewhite;" class="nav-item nav-link" href="/users">Browse users</a>
                <a style="color: antiquewhite;" class="nav-item nav-link" href="/newreview">Post a new review</a>
                {% if session.user_id %}
                <a style="color: antiquewhite;" class="nav-item">Logged in as {{ session.user_name }}</a>
                {% endif %}
        </div>
    </nav>

    <div style="color: antiquewhite; padding-top: 10%;" class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6">
            {% if session.user_id %}
               
                
                <div class="form-style">
                    <h4>Logged in as {{ session.user_name }}, welcome!</h4>
                    <br>
                    <form action="/logout">
                        <button style="margin: 20;" class="nicer-button" type="submit">Log out</button>
                    </form>
                    <br>
                    <form action="/browse">
                        <button style="margin: 20;" class="nicer-button" type="submit">Browse reviews</button>
                    </form>
                    <br>
                    <form action="/users">
                        <button style="margin: 20;" class="nicer-button" type="submit">Browse users</button>
                    </form>
                    <br>
                    <form action="/newreview">
                        <button style="margin: 20;" class="nicer-button" type="submit">Post a new review</button>
                    </form>
                </div>
          
            {% else %}
            <div class="form-style">
                <h2>You need to login to view the site!</h2>
                <form action="/">
                    <button class="nicer-button" type="submit">To login</button>
                </form>
            </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>
</body>