<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../static/custom.css">
<body style="background: url(../static/tee.jpg)" class="page-holder bg-image">
    {% if session.user_id %}
    <nav class="navbar navbar-expand navigationbar">  
        <div class="navbar-nav mr-auto">
            <a style="color: antiquewhite; font-size: 20px;" class="nav-item nav-link px-3" href="/teas">Browse teas</a>
            <a style="color: antiquewhite; font-size: 20px;" class="nav-item nav-link px-3" href="/reviews">Browse reviews</a>
            <a style="color: antiquewhite; font-size: 20px;" class="nav-item nav-link px-3" href="/users">Browse users</a>
            <a style="color: antiquewhite; font-size: 20px;" class="nav-item nav-link px-3" href="/newreview">Post a new review</a>
        </div>
        <div class="navbar-nav">
            <p style="color: antiquewhite; font-size: 18px; margin-right: -0.6rem; padding-top: 8px;" class="nav-item" >Logged in as: </p>
            <a style="color: antiquewhite; font-size: 18px;" class="nav-item nav-link px-3" href='/users/{{session.user_id}}'>{{session.user_name}} </a>
            <a class="nav-item px-2" style="color: antiquewhite;" href="/logout"><span class="fa fa-sign-out" style="font-size: 20px;color:antiquewhite; padding-top: 11px;">Logout</span></a>
        </div>
    </nav>
    {% endif %}
    <div style="color: antiquewhite; padding-top: 10%;" class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6">
            {% if session.user_id %}
               
                <div class="form-style">
                    <h4 class="text-center">Logged in as {{ session.user_name }}, welcome!</h4>                
                
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class=flashes>
                    {% for category, message in messages %}
                        <p class="{{ category }}" style="padding-top: 10px;">{{ message }}</p>
                    {% endfor %}   
                </div>
                {% endif %}
                {% endwith %}
            </div>
            {% else %}
            <div class="form-style">
                <h2>You need to login to view the site!</h2>
                <form action="/">
                    <button class="nicer-button" type="submit">To login</button>
                </form>
            </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>
</body>