<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/custom.css">
<body style="background: url(../static/tee.jpg)" class="page-holder bg-image">

    
    <div style=" padding-top: 10%;" class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6">
            {% if session.user_id %}
                <div class="form-style">
                    <form action="/frontpage">
                        <button class="nicer-button" type="submit">Return</button>
                    </form>
                    <h2 style="color: antiquewhite; text-align: center;">Post a new review!</h2>
                    <h6 style="color: antiquewhite; text-align: center;"> Fields marked with * are mandatory, be as specific as you can.</h6>

                    <form action="/newreview" method="POST">
                        <p style="color: antiquewhite">*Tea name:<br>
                        <input class="form-control input-sm" type="text" name="teaname" minlength="4" required></p>
                        </br>
                        <p style="color: antiquewhite; margin-top: -30px; margin-bottom: -15px;">Link to shop:<br>
                            <input class="form-control input-sm" type="url" name="shop"></p>
                        </br>
                        <label style="color: antiquewhite; margin-top: -20px;">*Choose tea type:</label>
                        <select required name="teatype" id="teatype">
                            <option value=""></option>
                            <option value="Black Tea">Black Tea</option>
                            <option value="Green Tea">Green Tea</option>
                            <option value="Oolong Tea">Oolong Tea</option>
                            <option value="Other Tea">Other/Herbal</option>
                            <option value="Pu-erh Tea">Pu-erh Tea</option>
                            <option value="White Tea">White Tea</option>
                        </select>
                    </br>
                        <label style="color: antiquewhite">*Score 1-10:</label>
                        <select required name="score" id="score">
                            <option value=""></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </br>
                    
                    <label style="color: antiquewhite">Review:</label>
                </br>
                    <textarea name="reviewtext" style="margin-bottom: 10px;resize: none;" rows="5" class="form-control input-sm" name="review" id="review" maxlength="600" ></textarea>

                    <p style="color: antiquewhite;">Picture-url:<br>
                        <input class="form-control input-sm" type="url" name="picture"></p>
                    {% for i in range(0,  rnumber ) %} 
                    <button hidden class="nicer-button" >Post review</button>
                    {% endfor %}
                    <button class="nicer-button" type="submit">Post review</button>
                    {% for i in range(0,  rnumber ) %} 
                    <button hidden class="nicer-button" >Post review</button>
                    {% endfor %}
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <ul class=flashes>
                            {% for message in messages %}
                            <li style="color: rgb(255, 0, 0); padding-top: 5px;">{{ message }}</li>
                            {% endfor %}
                            </ul>
                            {% endif %}
                            {% endwith %}
                        </ul>
                    </form>
                </div>
          
            {% else %}
            <div class="form-style">
                <h2 style="color: antiquewhite">You need to login to post reviews.</h2>
                <form action="/">
                    <button class="nicer-button" type="submit">To login</button>
                </form>
            </div>
            {% endif %}
            </div>
        </div>
    </div>

</body>