<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../static/custom.css">
<body style="background: url(../static/tee.jpg)" class="page-holder bg-image">
    {% if session.user_id %}
    <nav class="navbar navbar-expand navigationbar">  
        <div class="navbar-nav mr-auto">
            <a style="color: antiquewhite; font-size: 20px;" class="nav-item nav-link px-3" href="/teas">Browse teas</a>
            <a style="color: antiquewhite; font-size: 20px;" class="nav-item nav-link px-3" href="/reviews">Browse reviews</a>
            <a style="color: antiquewhite; font-size: 20px;" class="nav-item nav-link px-3" href="/users">Browse users</a>
            <a style="color: antiquewhite; font-size: 20px;" class="nav-item nav-link px-3" href="/newreview">Post a new review</a>
        </div>
        <div class="navbar-nav">
            <p style="color: antiquewhite; font-size: 18px; margin-right: -0.6rem; padding-top: 8px;" class="nav-item" >Logged in as: </p>
            <a style="color: antiquewhite; font-size: 18px;" class="nav-item nav-link px-3" href='/users/{{session.user_id}}'>{{session.user_name}} </a>
            <a class="nav-item px-2" style="color: antiquewhite;" href="/logout"><span class="fa fa-sign-out" style="font-size: 20px;color:antiquewhite; padding-top: 11px;">Logout</span></a>
        </div>
    </nav>
    {% endif %}
    <div style="padding-top: 10%; color: antiquewhite;" class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6">
            {% if session.user_id %}
                {% if targetuser %}
                <div class="form-style">
                    
                    <h4 style=" text-align: center; margin-bottom: -10px; margin-top: -5px;">
                        Statistics for {{ targetuser[0][0] }} </h4>
                        <br>
                        <h5 style=" text-align: center; margin-bottom: -15px; margin-top: -10px;">Total Tea reviews: {{targetuser[0][1]+targetuser[0][2]+targetuser[0][3]+targetuser[0][4]+targetuser[0][5]+targetuser[0][6]}}</h5>
                        <br>
                        <h5 style="  text-align: center; margin-bottom: -5px; margin-top: -10px;">Average given score: {{ targetuser[0][7] }}</h5>
                    </div>
                <div class="row GreenTea">
                    <div class="col-sm"><h5>Green Tea reviews:</h5></div>
                    <div class="col-sm"><h5 style="text-align: right;">{{ targetuser[0][1] }}</h5></div>
                </div>

                <div class="row BlackTea">
                    <div class="col-sm"><h5>Black Tea reviews:</h5></div>
                    <div class="col-sm"><h5 style="text-align: right;">{{ targetuser[0][2] }}</h5></div>
                </div>

                <div class="row OolongTea">
                    <div class="col-sm"><h5>Oolong Tea reviews:</h5></div>
                    <div class="col-sm"><h5 style="text-align: right;">{{ targetuser[0][3] }}</h5></div>
                </div>

                <div class="row OtherTea">
                    <div class="col-10"><h5>Other/Herbal Tea reviews:</h5></div>
                    <div class="col-sm"><h5 style="text-align: right;">{{ targetuser[0][4] }}</h5></div>
                </div>

                <div class="row PuerhTea">
                    <div class="col-sm"><h5>Pu-erh Tea reviews:</h5></div>
                    <div class="col-sm"><h5 style="text-align: right;">{{ targetuser[0][5] }}</h5></div>
                </div>

                <div class="row WhiteTea">
                    <div class="col-sm"><h5>White Tea reviews:</h5></div>
                    <div class="col-sm"><h5 style="text-align: right;">{{ targetuser[0][6] }}</h5></div>
                </div>
                {% else %}
                <div class="form-style">
                    <form action="/users">
                        <button class="nicer-button" type="submit">Return</button>
                    </form>
                    <h4 style=" text-align: center; margin-bottom: -5px; margin-top: 5px;">
                        Sorry!<br>We don't know much about this user yet.<br> They haven't posted any reviews.</h4>
                        {% endif %}
            {% else %}
            <div class="form-style">
                <h2>Login to see this user.</h2>
                <form action="/">
                    <button class="nicer-button" type="submit">To login</button>
                </form>
            </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>
</body>