<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/custom.css">
<div style="background: url(../static/tee.jpg)" class="page-holder bg-image">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6">
            {% if session.user_id %}
                <div class="form-style">
                    <form action="/browse">
                        <button class="nicer-button" type="submit">Return</button>
                    </form>
                    <h4 style="color: antiquewhite; text-align: center; margin-bottom: -25px; margin-top: -20px;">
                        <br>Tea name: {{ targetreview[0][1] }}</h4>
                        <h5 style="color: antiquewhite; text-align: center; margin-top: -25px;">
                            <br>Review by: {{ targetuser[0][0] }}</h5>
                            <h6 style="color: antiquewhite; text-align: center;">
                        <br>From shop: {{ targetreview[0][2] }}
                        <br>Tea type: {{ targetreview[0][3] }}
                        <br>Score {{ targetreview[0][4] }} / 10
                        <br>Review: {{ targetreview[0][5] }}</h6>
                    
                    
                    
                    
                </div>
          
            {% else %}
            <div class="form-style">
                <h2 style="color: antiquewhite">Login to see this review.</h2>
                <form action="/">
                    <button class="nicer-button" type="submit">To login</button>
                </form>
            </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>