<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/custom.css">
<body style="background: url(../static/tee.jpg)" class="page-holder bg-image">
    <nav class="navbar navbar-expand navigationbar">
        
        <div class="navbar-nav">
            
                <a style="color: antiquewhite;" class="nav-item nav-link" href="/browse">Browse reviews</a>
                <a style="color: antiquewhite;" class="nav-item nav-link" href="/users">Browse users</a>
                <a style="color: antiquewhite;" class="nav-item nav-link" href="/newreview">Post a new review</a>
                {% if session.user_id %}
                <a style="color: antiquewhite;" class="nav-item">Logged in as {{ session.user_name }}</a>
                {% endif %}
        </div>
    </nav>
    
    <div style="color:antiquewhite; padding-top: 10%; color: antiquewhite;" class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-10 col-lg-7">
            {% if session.user_id %}
                <div class="form-style">
                    <form action="/frontpage">
                        <button class="nicer-button" type="submit">Return</button>
                    </form>
                    <h3 style="text-align: center;"> Users:</h3>
                    <br>
                    <h6 style="text-align: center;margin-top: -30px;"> Click usernames to see more information</h6>
                    <div class="row">
                        <div class="col-sm"><h4>Username</h4></div>
                        <div class="col-sm"><h4 style="text-align: right;">Reviews</h4></div>
                        <br>
                        
                    </div>


                    {% for user in users %}
                    <div class="row">
                    <div class="col-sm"><h6><a style="color: antiquewhite; text-align: left;" 
                        href='/users/{{user[1]}}'>{{ user[0] }}</a></h6></div>
                        
                        <div class="col-sm"><h5 style="text-align: right;"> {{ user[2] }} </h5></div>
                    </div>
                    {% endfor %}
                
                </div>
          
            {% else %}
            <div class="form-style">
                <h2 >Login to browse users.</h2>
                <form action="/">
                    <button class="nicer-button" type="submit">To login</button>
                </form>
            </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>



<script>
    function showsearch() {
      
      var moreText = document.getElementById("showsearch");
      var btnText = document.getElementById("showsearchbutton");
    
      if (moreText.style.display === "none") {
        moreText.style.display = "inline";
        btnText.innerHTML = "Hide search"; 
        
      } else {
        moreText.style.display = "none";
        btnText.innerHTML = "Show search"; 
        
      }
    }
    </script>
</body>